<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.fannect.fannectmobile"
        version   = "1.0.0">
    <name>Fannect</name>

    <description>
        Change description
    </description>

    <author href="http://fannect.me" email="support@fannect.me">
        Fannect Team
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>

    <plugin name="Camera" value="org.apache.cordova.CameraLauncher" />

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="handset" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce" value="false" />

    <icon src="icon.png" />
    <icon src="res/icon-36.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon-48.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon-72.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon-96.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="res/icon-48.png"  gap:platform="winphone" />
    <icon src="res/icon-173.png" gap:platform="winphone"   gap:role="background" />

    <gap:splash src="res/screen-426x320.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen-470x353.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen-640x480.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen-1024x768.png" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="res/screen-1024x768.png" gap:platform="winphone" />
</widget>