extend layout

block header
   h1(data-menu-root="connect") Roster

block content

   ul.pattern-bg(data-role="listview", data-bind="template: { name:'connect-fan-template', foreach: roster_fans }, listviewUpdate: roster_fans").fans

   script(id="connect-fan-template", type="text/html")
      li.fan
         a(data-bind="attr: { 'href': profile_url }")
            .image-wrap
               img.profile-image(data-bind="attr: { 'src': profile_image_url }")
               .cover
            .fan-info
               .name(data-bind="text: name")
               .team(data-bind="text: team")
