doctype 5
html
   head
      title Fannect
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
      meta(name="apple-mobile-web-app-capable", content="yes")

      
      != css("lib/normalize")
      link(rel="stylesheet", href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css")
      != css("lib/fannect")
      != css("skin")
      != css("pages/points")

      != js("lib/jquery-1.8.2.js")
      != js("ext/nav-handler")
      != js("pages/profile")
      != js("pages/points")
      != js("pages/leaderboard")
      != js("pages/connect")
      != js("pages/preferences")
      != js("lib/jquerymobile-1.2.0.js")

   - var viewDir = locals.root
   - var view = locals.filename.replace(viewDir, "").replace(".jade", "").replace(/^[\\\/]/g, "");
   - var viewClass = view.replace(/[\\\/]/g, "-");
   body
      div(class=viewClass, data-role="page", data-theme="a")

         .header(data-role="header")
            block header

         .content(data-role="content")
            block content

         .footer(data-role="footer", data-id="footer", data-position="fixed")
            div(data-role="navbar")
               ul
                  li: a.profile-menu(href="/profile", data-icon="custom") Profile
                  li: a.points-menu(href="/points", data-icon="custom") Points
                  li: a.leaderboard-menu(href="/leaderboard", data-icon="custom") Leaderboard
                  li: a.connect-menu(href="/connect", data-icon="custom") Connect
                  li: a.preferences-menu(href="/preferences", data-icon="custom", data-prefetch="true") Preferences