doctype 5
html
   head
      title Fannect
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
      meta(name="apple-mobile-web-app-capable", content="yes")

      if (global.css)
         != css("lib/normalize")
         link(rel="stylesheet", href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css")
         != css("lib/fannect")
         != css("skin")

      else
         link(rel="stylesheet", href="css/normalize.css")
         link(rel="stylesheet", href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css")
         link(rel="stylesheet", href="css/fannect.css")
         link(rel="stylesheet", href="css/skin.css")

      if (global.js)
         != js("tree")

      else
         script(src="phonegap.js")
         script(src="js/tree.js")


   - var viewDir = locals.settings.views;
   - var view = locals.filename.replace(viewDir, "").replace(".jade", "").replace(/^[\\\/]/g, "");
   - var viewClass = view.replace(/[\\\/]/g, "-");
   body
      div(class=viewClass, data-role="page", data-theme="a")
         .background-highlight
         .header(data-role="header")
            block header

         .content(data-role="content")
            block content

         .footer(data-role="footer", data-id="footer", data-position="fixed")
            div(data-role="navbar")
               ul
                  li: a.profile-menu(href="profile.html", data-icon="custom", data-prefetch="true") Profile
                  li: a.games-menu(href="games.html", data-icon="custom", data-prefetch="true") Games
                  li: a.leaderboard-menu(href="leaderboard.html", data-icon="custom", data-prefetch="true") Leaderboard
                  li: a.connect-menu(href="connect.html", data-icon="custom", data-prefetch="true") Connect
                  li: a.preferences-menu(href="preferences.html", data-icon="custom", data-prefetch="true") Preferences