extend layout

block header
   h1(data-menu-root="profile") Profile
   a.ui-btn-right(href="profile-editBio.html", data-role="button", data-transition="slide") Edit

block content
   .profile-images
      .team-wrap(data-bind="click: changeTeamImage")
         img(data-bind="attr: {src:team_image}, visible: team_image().length > 0")
         .team-hint.ui-corner-all
         .cover
      .user-wrap(data-bind="click: changeUserImage")
         img(data-bind="attr: {src:user_image}, visible: user_image().length > 0")
         .user-hint.ui-corner-all
         .cover

   .name(data-bind="text: name")

   .team-name-wrap
      .team Sporting Kansas City
      .icon

   .score-wrap
      .score.roster
         .label Roster
         .value(data-bind="text: roster")
      .score.points
         .label Points
         .value(data-bind="text: points")
      .score.rank
         .label Rank
         .value(data-bind="text: rank")

   .bio
      .separator
      .text(data-bind="text: bio")

   .bragging-rights
      .separator
      .text(data-bind="text: bragging_rights")

   .game-day-spot
      .separator
      .text(data-bind="text: game_day_spot") 
   
block tutorial
   .tutorial-slider.four
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-next
            .tutorial-pos-indicator
               .dot.active
               .dot
               .dot
               .dot
            .tutorial-welcome
            .tutorial-fannect-logo
            p.medium Congratulations on becoming a part of your team's committed fanbase!
            .tutorial-separator
            p Use Fannect to prove that your team has the best fans in the universe, and fight to become your team's #1 fan!
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-next
            .tutorial-prev
            .tutorial-pos-indicator
               .dot
               .dot.active
               .dot
               .dot
            .tutorial-welcome
            .tutorial-fannect-logo
            p.large The rules are simple
            .tutorial-separator
            ol
               li Create an awesome profile
               li Build each team's roster of fanatics
               li Score points for your team
               li Climb the Fannect leaderboard
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-next
            .tutorial-prev
            .tutorial-pos-indicator
               .dot
               .dot
               .dot.active
               .dot
      .tutorial-item
         .tutorial-content
            .tutorial-close
            .tutorial-prev
            .tutorial-pos-indicator
               .dot
               .dot
               .dot
               .dot.active
            .tutorial-welcome
            .tutorial-fannect-logo


