.connect.ui-page
   background: url(../images/Pattern_FabricKnit.png)
   background-size: 4px 4px
   .ui-content
      padding: 0
   .fans
      margin: 0

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   .connect
      background-image: url(../images/Pattern_FabricKnit@2x.png)