@import "../lib/mixins"
@import "../lib/variables"

#games-page
   background: url(../images/Pattern_FabricKnit.png)
   background-size: 4px 4px
   .locked
      // .ui-btn-inner.ui-li
      //    background-lowlight()
      // .chain
      //    holder: true
   .icon-gamecell
      float: left
   .text
      position: relative
      margin-left: 82px
      height: 1px
   .inner
      display: table
      position: absolute
      top: 0px
      left: 0px
      height: 72px
   .game-name
      display: table-cell
      vertical-align: middle
      text-align: left
      text-transform: uppercase
      white-space: normal
      font-size: 1.3em

#games-attendanceStreak-page
   .ui-content
      padding: 0
      .info
         margin: 0 auto
         max-width: 600px
         height: 121px
         background: url(../images/games/attendanceStreak/Overlay_Marquee_iPhone.png) repeat-x 50% -1px
         background-size: 320px 121px
         position: relative
         overflow: hidden
         text-align: center
         .right-cap
         .left-cap
            position: absolute
            top: -6px
            width: 13px
            height: 110px
         .left-cap
            left: 0
            background: url(../images/games/attendanceStreak/Overlay_MarqueeCap_Left_iPhone.png)
            background-size: 13px 110px
         .right-cap
            right: 0
            background: url(../images/games/attendanceStreak/Overlay_MarqueeCap_Right_iPhone.png)
            background-size: 13px 110px
         .stadium-info
            padding-top: 8px
            .stadium
               font-size: 1.6em
               text-shadow: 0.1em 0.1em #000
               margin-bottom: 3px
            .location
               font-size: .7em
               color: color-light-gray
               text-shadow: 0.1em 0.1em #000

         .game-info
            margin-top: 10px
            font-size: .7em
            .team
               text-overflow: ellipsis
               white-space: nowrap;
            .record
               margin-top: 5px
               color: color-light-gray
               text-overflow: ellipsis
               white-space: nowrap;
            .home-info
               float: left
               width: 40%
               .inner
                  margin-left: 15px
            .vs
               float: left
               width: 20% 
               height: 36px
               background: url(../images/games/Overlay_VsButton.png) no-repeat 50% 0%
               background-size: 36px 36px
            .away-info
               float: left
               width: 40%
               .inner
                  margin-right: 15px
      // .map
      .bottom
         position: absolute
         width: 100%
         height: 96px
         bottom: footer-height
         background: url(../images/games/attendanceStreak/Overlay_ButtonHolder_iPhone.png) 50% 0%
         background-size: 320px 96px
         .inner
            max-width: 280px
            padding: 0 12px
            margin: 32px auto
            text-align: center
         .checked-in
            background: url(../images/games/attendanceStreak/Overlay_checkbox.png) 0% 50% no-repeat
            background-size: 39px 39px
            display: inline-block
            height: 39px
            padding-left: 46px
            line-height: 39px
            margin: 0 auto
            font-size: 1.4em
            font-weight: bold
         .next-game
            font-size: .8em
            padding-top: 4px
            .label
               color: color-light-gray
               margin-right: 4px

#games-guessTheScore-page
   .score
      margin: 10px auto 0
      width: 320px
      .guess-block
         float: left
         width: 50%
         text-align: center
         label
            color: color-light-gray
         .guess-wrap
            background: url(../images/games/guessTheScore/Overlay_PickSetBox.png) 0 50% no-repeat
            background-size: 129px 107px
            position: relative
            width: 129px
            height: 107px
            .value
            input[type=number]
               font-family: JerseyM54, Helvetica, Arial, sans-serif
               font-size: 5em
               width: 129px
               height: 107px
               border: none
               border-radius: 0
               dropshadow: none
               margin: 0
               padding: 0
               text-align: center 
               background: transparent
               line-height: 107px
            .value
               display: none
               position: absolute
               left: 0
               top: 0
               color: color-light-gray

         &.home .guess-wrap
            margin-left: 10px
         &.away .guess-wrap
            margin-left: 20px
   .picking
      width: 250px
      margin: 12px auto 0
   .picked
      display: none
      .game-preview
         background: url(../images/games/guessTheScore/Overlay_SubtleShadow.png) 50% -24px no-repeat
         background-size: 290px 60px
         width: 290px
         min-height: 36px
         margin 0 auto
         padding-top: 7px
         .title
            text-align: center
            color: color-light-gray
         .text
            margin-top: 24px
            font-size: .8em

#games-guessTheScore-page
#games-gameFace-page
   .team-info
      width: 304px
      margin: 4px auto 0
      .team-glass
         float: left
      .vs
         float: left
         width: 36px 
         height: 36px
         margin-top: 2px
         background: url(../images/games/Overlay_VsButton.png) no-repeat 50% 0%
         background-size: 36px 36px

#games-gameFace-page
   .game-face
      background: url(../images/games/gameFace/Gameface_Sprite.png)
      background-size: 370.5px 184px
      width: 184px
      height: 184px
      margin 15px auto 28px
      background-position: 0 0
      &.on
         background-position: -186px -185px
   .team-info
      .team-glass
         position: relative
      .label
         position: absolute
         top: -18px
         left: 0
         width: 100%
         text-align: center
         font-size: 1.4em
         color: color-light-gray
   .unavailable.scrolling-text
      margin-bottom: 20px
   .switch-wrap
      margin-top: 10px
      text-align: center
      .ui-slider
         margin: 0

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   #games-page
      background-image: url(../images/Pattern_FabricKnit@2x.png)
   #games-attendanceStreak-page .info
      background-image: url(../images/games/attendanceStreak/Overlay_Marquee_iPhone@2x.png)
      .left-cap
         background-image: url(../images/games/attendanceStreak/Overlay_MarqueeCap_Left_iPhone@2x.png)
      .right-cap
         background-image: url(../images/games/attendanceStreak/Overlay_MarqueeCap_Right_iPhone@2x.png)

   #games-attendanceStreak-page .bottom
      background-image: url(../images/games/attendanceStreak/Overlay_ButtonHolder_iPhone@2x.png)!important
      .checked-in
         background-image: url(../images/games/attendanceStreak/Overlay_checkbox@2x.png)!important

   #games-guessTheScore-page
      .guess-wrap
         background-image: url(../images/games/guessTheScore/Overlay_PickSetBox@2x.png)!important
      .game-preview
         background-image: url(../images/games/guessTheScore/Overlay_SubtleShadow@2x.png)!important

   #games-attendanceStreak-page
   #games-guessTheScore-page
   #games-gameFace-page
      .vs
         background-image: url(../images/games/Overlay_VsButton@2x.png)

   #games-gameFace-page
      .game-face
         background-image: url(../images/games/gameFace/Gameface_Sprite@2x.png) 