@import "../lib/variables"
@import "../lib/mixins"

.leaderboard-leaderboard
   background: url(/images/Pattern_FabricKnit.png)
   background-size: 4px 4px
   .ui-content
      padding: 0
   .scrollable-content
      top: header-height + 42
   .switcher
      position: relative
      text-align: center
      dropshadow: 0 2px 3px rgba(0,0,0,.5)
      z-index: 200
      margin-bottom: 5px
   .fans
      margin: 0
      .fan
         .rank
            position: absolute
            right: 8px
            top: 26px 
            background: url(/images/leaderboard/Overlay_LeaderboardRank.png)
            background-size: 27px 28px
            width: 27px
            height: 28px
            font-family: JerseyM54, Helvetica, Arial, sans-serif
            text-align: center
            font-size: 1.2em
            line-height: 28px
            color: color-dark-red

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   .leaderboard-leaderboard
      background-image: url(/images/Pattern_FabricKnit@2x.png)
   .fans .fan .rank
      background: url(/images/leaderboard/Overlay_LeaderboardRank@2x.png)