@import "../lib/variables"
@import "../lib/mixins"

.leaderboard-leaderboard
   .ui-content
      padding: 0
   .scrollable-content
      top: header-height + 42
   .switcher
      position: relative
      text-align: center
      dropshadow: 0 2px 3px rgba(0,0,0,.5)
      z-index: 200
      margin-bottom: 5px
   .fans
      margin: 0