@import "../lib/mixins"
@import "../lib/variables"

body.loop
   .nav li.nav-item.loop
      background-gradient: #2f2f2f #525252

   .secondary-nav
      .nav-item
         float: left
         width: 50%
         
         &.active, &:hover
            background-gradient: medium-dark-gray dark-gray 

         &:hover
            dropshadow: inset 1px 0 1px rgba(0,0,0,.3)

         .inner
            display: block
            width: 100%
            line-height: secondary-nav-height
            text-align: center
            font-size: .9em

   #loop-items
      .loop-item
         .inner
            display: block
            padding: normal-margin

            .top-info
               padding-bottom: thin-margin

               .profile-thumbnail
                  float: left

               .caption
                  display: block
                  font-size: .8em
                  line-height: 1.2em
                  margin-left: thin-margin + profile-thumbnail-size
                  min-height: profile-thumbnail-size - ((thin-margin - 2px) * 2)
                  padding: thin-margin - 2px 0

            .image-wrap
               position: relative
               height: auto
               
               .inset-large
                  bottom: 2px

               img
                  width: 100%

            .bottom-info
               padding-top: thin-margin

               .comment-count
                  display: block
                  position: relative
                  height: button-height
                  width: 56px
                  float: left
                  dropshadow: inset 0 0 40px rgba(0,0,0,.07), 0 0 2px rgba(0,0,0,.4)
                  text-align: center
                  cursor: pointer
                  display: block
         
                  .icon.comment
                     position: absolute 
                     top: (button-height / 2) - 17
                     left: 10px

                  .count
                     position: relative
                     line-height: button-height - 2px
                     color: #fff
                     text-shadow: 1px 1px 2px rgba(0,0,0,.5)
                     z-index: 50

               .block.button
                  float: right