@import "../lib/mixins"
@import "../lib/variables"

body.missions
   .nav li.nav-item.missions
      background-gradient: #2f2f2f #525252

   .secondary-nav
      .inner
         display: block
         height: secondary-nav-height
         position: relative
         font-weight: bold
         border-bottom: 1px solid #3e3e3e

      li.nav-item.categories
         position: absolute
         height: secondary-nav-height
         width: auto
         top: 0
         right: header-height
         bottom: 0
         left: 0

         &:hover
            background-gradient: medium-dark-gray dark-gray

         .title
            line-height: secondary-nav-height
            padding-left: 25px

         .icon.arrow-right-gray
            position: absolute
            top: 15px
            right: 20px

      li.nav-item.map
         display: inline-block
         float: right
         height: secondary-nav-height      
         width: header-height
         background-gradient: #96ec6c #52b33f

         &:hover
            background-gradient: #52b33f #96ec6c
            dropshadow: inset 0 1px 5px #262626

         .inner
            text-align: center
            border-left: 1px solid #262626

         .title
            position: absolute
            display: block
            bottom: 4px
            width: 100%
            font-size: .9em

         .icon.map
            position: absolute
            top: 5px
            left: 6px

   #missions
      .mission
         position: relative
         height: mission-height
         cursor: pointer

         .inner
            display: block
            height: mission-height - 24
            padding: normal-margin 30px normal-margin thin-margin

            .icon.arrow-right-green
               position: absolute
               top: (mission-height / 2) - 8.5
               right: 5px

            .thumbnail-inset
               height: thumbnail-height
               float: left
               position: relative

            .information
               margin-left: thumbnail-width + 10

               .title
                  font-size: .9em
                  font-weight: bold
                  margin: 0 0 6px 0 
                  color: #313131

               .description
                  font-size: .7em
                  height: 52px
                  color: #4e4e4e
                  line-height: 1.3em

               .extra-info
                  font-size: .9em
                  color: #505050

                  .sep
                     display: inline-block
                     margin: 0 6px
                     color: #a2a2a2