@import "../lib/mixins"
@import "../lib/variables"

.profile.ui-page
   .ui-content
      padding: 0 0 inherit 0
   .profile-images
      position: relative
      height: 250px
      width: 320px
      margin: 0 auto
      .team-wrap
         position: absolute
         right: 0
         top: 0
         width: 210px
         height: 120px
         .cover
            position: absolute
            top: 0
            left: 0
            z-index: 200
            width: 210px
            height: 210px
            background: url(../images/profile/Overlay_TeamPictureFrame.png) 
            background-size:162px 162px
         img
            width: 210px
            height: 210px
            border-radius: 10px
      .user-wrap
         z-index: 300
         position: absolute
         bottom: 0
         left: 0
         width: 162px
         height: 162px
         .cover
            position: absolute
            z-index: 400
            width: 162px
            height: 162px
            background: url(../images/profile/Overlay_ProfilePictureFrame.png) 
            background-size:162px 162px
         img
            position: absolute
            top: 7px
            left: 11px
            width: 140px
            height: 140px
            border-radius: 10px
   .name
      font-size: 1.8em
      font-weight: bold
      text-align: center
   .teams-wrap
      position: relative
      width: 302px 
      height: 66px
      margin: 8px auto
      background: url(../images/profile/Profile_GlassMarquee.png) 
      background-size:302px 66px
      text-transform: uppercase
      .view-port
         padding: 4px 0 14px 0
         margin: 0 10px
         overflow-y: hidden
         overflow-x: hidden
         .teams
            height: 52px
            white-space: nowrap
            float: left
            list-style: none
            .team
               display: block
               float: left
               width: 242px
               height: 52px
               color: color-light-gray
               text-align: center
               line-height: 55px
               white-space: nowrap
               overflow: hidden
               padding: 0 20px
               text-overflow: ellipsis
      .button
         position: absolute
         top: 6px
         width: 30px
         height: 50px
         cursor: pointer
         .icon
            position: absolute
            top: 17px
            width: 13px
            height: 15px
            background: url(../images/profile/Profile_TeamArrows.png) no-repeat
            background-size: 31px 15px 
         &.next
            right: 8px
            .icon
               left: 10px
         &.prev
            left: 8px
            .icon
               right: 10px
               background-position: -18px 0

   .score-wrap
      position: relative
      width: 302px
      height: 36px
      margin: 8px auto
      background: url(../images/profile/Profile_ScoreDisplay-iPhone.png) 
      background-size:302px 36px
      .score
         position: absolute
         top: 11px
         width: 78px
         font-size: .7em
         font-family: JerseyM54, Helvetica, Arial, sans-serif
         .label
            text-transform: uppercase
            float: left
         .value
            float: right
         &.roster
            left: 20px
         &.points
            left: 113px
         &.rank
            left: 206px
   .separator
      width: 320px
      height: 32px
      background: url(../images/profile/ProfileSeperators.png) no-repeat
      background-size: 965px 26px
      margin: 20px auto 5px auto
   .text
      width: 290px
      margin: 0 auto
      font-size: .8em
      line-height: 1.4em
   .bio
      .separator
         background-position: 0 0 
   .game-day-spot
      .separator
         background-position: -322.5px 0 
   .bragging-rights
      .separator
         background-position: -645px 0 

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
   .profile-images 
      .team-wrap .cover
         background-image: url(../images/profile/Overlay_TeamPictureFrame@2x.png)
      .user-wrap .cover
          background-image: url(../images/profile/Overlay_ProfilePictureFrame@2x.png) 
      .team-name-wrap
         background-image: url(../images/profile/Profile_GlassMarquee@2x.png) 
      .score-wrap
         background-image: url(../images/profile/Profile_ScoreDisplay-iPhone@2x.png) 
      .separator
         background-image: url(../images/profile/ProfileSeperators@2x.png)