@import "../lib/mixins"
@import "../lib/variables"

.profile-profile
   background: url(/images/Background_PerforatedMetal@2x.png)
   background-size: 320px 480px
   
   .ui-content
      padding: 0 0 inherit 0
   
   .name
      font-size: 1.8em
      font-weight: bold
      text-align: center


   .separator
      width: 320px
      height: 32px
      background: url(/images/profile/ProfileSeperators.png) no-repeat
      background-size: 965px 26px
      margin: 20px auto 5px auto

   .bio
      .separator
         background-position: 0 0 

   .game-day-spot
      .separator
         background-position: -322.5px 0 

   .bragging-rights
      .separator
         background-position: -645px 0 