@import "lib/variables"
@import "lib/mixins"

// Layout

// .ui-page
//    background: url(/images/Background_PerforatedMetal@2x.png)

@font-face
   font-family: JerseyM54
   src: url(/fonts/JerseyM54.ttf)

.header
   .ui-btn-left
      top: 5px
   .ui-title
      margin-top: .5em
      margin-bottom: .5em
      font-family: JerseyM54, Helvetica, Arial, sans-serif
      font-size: 1.2em
      text-transform: uppercase

.footer
   .ui-navbar
      position: relative
      dropshadow: 0 -2px 3px rgba(0,0,0,.6)
      z-index: 100
   .ui-btn-inner
      padding-top: 38px
   .ui-btn-text
      font-size: .7em
      top: 5px
   .ui-icon.ui-icon-custom
      width: 48px
      height: 32px
      background: url(/images/icons/icons-tab.png) no-repeat;
      background-size: 260px 32px
      margin-left: -24px
   .profile-menu .ui-icon
      background-position: -159px 0
   .points-menu .ui-icon
      background-position: -106px 0
   .leaderboard-menu .ui-icon
      background-position: -53px 0
   .connect-menu .ui-icon
      background-position: 0 0
   .preferences-menu .ui-icon
      background-position: -212px 0

// Icons
.icon
   &.settings
      width: 29px
      height: 29px
      background: url(/images/icons/icons-settings.png) no-repeat;
      background-size: 301px 29px

      &.client
         background-position: 0 0
      &.rade-eecles
         background-position: -34px 0
      &.this-app
         background-position: -64px 0
      &.account
         background-position: -102px 0
      &.more-apps
         background-position: -136px 0
      &.privacy
         background-position: -170px 0
      &.rate-it
         background-position: -204px 0
      &.technical-support
         background-position: -238px 0
      &.tell-friend
         background-position: -204px 0

   &.gamecell
      width: 72px
      height: 72px
      background: url(/images/icons/icons-gamecell.png) no-repeat;
      background-size: 226px 72px
            
      &.attendence-streak
         background-position: 0 0
      &.game-face
         background-position: -77px 0
      &.guess-the-score
         background-position: -154px 0
      