extend ../../layout

block header
   a(href="/points", data-icon="back", data-rel="back") Back
   h1(data-menu-root="points") Games

block content

   .game-face(data-bind="toggleClass: { 'on': face_on() }")

   .team-info
      .home.team-glass
         .label Home
         .team= home.name
         .record= home.record
      .vs
      .away.team-glass
         .label Away
         .team= away.name
         .record= away.record
      .clear
   
   .switch-wrap
      select(id="gameFaceSwitch", data-role="slider", data-bind="value: face_value, disableSlider: face_on")
         option(value="off") Off
         option(value="on") On