extend ../layout

block header
   a(href="/points", data-icon="back", data-rel="back") Back
   h1(data-menu-root="points") Games

block content

   .game-face(data-bind="toggleClass: { 'on': face_on() }")

   .team-info
      .home.team-glass
         .label Home
         .team(data-bind="text: home_team")
         .record(data-bind="text: home_record")
      .vs
      .away.team-glass
         .label Away
         .team(data-bind="text: away_team")
         .record(data-bind="text: away_record")
      .clear
   
   .switch-wrap
      select(id="gameFaceSwitch", data-role="slider", data-bind="value: face_value, disableSlider: face_on")
         option(value="off") Off
         option(value="on") On

   .scrolling-text GameFace can only be activated on game days!