extend ../layout

block header
   h1(data-menu-root="leaderboard") Leaderboard

block content
   .ui-bar-a.switcher
      fieldset(data-role="controlgroup", data-type="horizontal", data-mini="true")
         input(type="radio", name="board-picker", id="board-overall-picker", value="overall", checked="true", data-bind="checked: selected_view")
         label(for="board-overall-picker") Overall
         input(type="radio", name="board-picker", id="board-roster-picker", value="roster", data-bind="checked: selected_view")
         label(for="board-roster-picker") Roster

   script(type="text/javascript")
      window.fannect.leaderboard = {
         overall_fans: !{JSON.stringify(overall_fans)},
         roster_fans: !{JSON.stringify(roster_fans)}
      };

   .scrollable-content
      ul.fans.pattern-bg(data-role="listview", data-bind="template: { name:'leaderboard-fan-template', foreach: overall_fans }, listviewUpdate: overall_fans, visible: is_overall_selected")
      ul.fans.pattern-bg(data-role="listview", data-bind="template: { name:'leaderboard-fan-template', foreach: roster_fans }, listviewUpdate: roster_fans, visible: !is_overall_selected()")

   script(id="leaderboard-fan-template", type="text/html")
      li.fan(data-icon="false")
         a(data-bind="attr: { 'href': profile_url }")
            .image-wrap
               img(data-bind="attr: { 'src': profile_image_url }")
               .cover
            .fan-info
               .name(data-bind="text: name")
               .team(data-bind="text: team")
            .data-wrap
               span.data
                  span.label Roster:
                  span.value(data-bind="text: roster")
               span.data
                  span.label Points:
                  span.value(data-bind="text: points")
               span.data
                  span.label Rank:
                  span.value(data-bind="text: rank")
            .rank 0